<html>
    <head>
        <title>Covid Cases</title>
    </head>
    <body>
        <form action="/state/get-data" method="POST">
            <input type="text" name="state" required placeholder="Uttaralhand">
            <input type="text" name="district" required placeholder="Haridwar">
            <input type="submit" value="Get Results">
        </form>
    </body>
</html>